@{
    Layout = null;
}

<section class="hide-mobile">
    <div class="container navigation">
        <p><a href="/">HOME /NEWS</a> </p>
    </div>
</section>

<div class="container detail-table">
    <div class="row">
        <div class="text-center col-12 col-lg-3 col">
            <div class="logo"><img data-bind="attr:{src: imgLink}" alt=""></div>
        </div>
        <div class="text-center col-12 col-lg-7 col detail-info">
            <h3 data-bind="text:title"></h3>
            <p data-bind="text:dateForShowing"></p>
            <p data-bind="text:body">

            </p>
        </div>
    </div>
    
</div>