@{
    Layout = null;
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                News
                <small><span class="squareSpan btn-danger">&nbsp;</span> for hidden localization  <span class="squareSpan btn-success"></span> for visible localization</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="news-list" class="table table-hover">
                <thead></thead>
                <tbody></tbody>
            </table>
            <hr />
            <div class="col-md-1 col-sm-1 col-xs-12 ">
                <button id="add-new-news" class="btn btn-primary">Add News</button>
            </div>
        </div>
    </div>
</div>


