.broker-logo-inner-img {
    height: inherit;
    width: inherit;
}

.content-text-color {
    color: #646464 !important;
}

.broker {
    height: inherit;
    width: inherit;
}

.broker-logo > img {
    max-height: 90px;
}

.li-button-arrangement li:hover {
    color: white;
    background-color: #f70600;
    cursor: pointer;
    margin: 0px;
    border-style: solid;
    border-color: #f70600;
    border-width: 10px 1px 10px 0px;
}

.none-right-border {
    font-size: 16px !important;
    font-weight: 700 !important;
    border-right: none !important;
}

.search-result {
    border-bottom: 1px solid rgb(226,226,226);
}